/* Styles for verification */
#pswd_info {
   
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    position: relative;
    bottom: 12px;
 
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
#pswd_info h4 {
    margin:0 0 10px 0; 
    padding:0;
    font-weight:normal;
}

.invalid {
   /* background:url(images/invalid.png) no-repeat 0 50%;*/
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
   /* background:url(images/valid.png) no-repeat 0 50%;*/
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}